@import url(http://fonts.googleapis.com/css?family=Open+Sans|Merriweather:400,700|Inconsolata&subset=latin-ext);

html * {
    margin: 1%, 0, 0, 1%;
    padding: 0;
    font: 16px/1.5 'Open Sans', sans-serif;
}
body {
    width: 54em;
    margin: 1em auto;
}
p {
    margin: .5em 0;
}
h1, h2, th {
    font-family: 'Merriweather', serif;
}
h1 {
    width: 20em;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    font-size: 2em;
}
div#abstract p {
    margin: 1em 0;
    padding: .4em;
    text-align: center;
    background-color: #eeeeee;
    font-size: 1.2em;
    font-weight: bold;
}
h2 {
    margin: 1em 0 0;
    font-size: 1.3em;
}
table#nomscoul {
    margin-top: 1em;
    border-collapse: collapse;
    caption-side: bottom;
}
th, td {
    border: 1px solid black;
    padding: .5em 1em;
    font-size: 1.1em;
}
th {
    background-color : #eeeeee;
    padding: .5em;
}
td {
    font: normal 1em 'Open Sans', sans-serif;
    vertical-align: top;
}
caption {
    margin: .4em 0;
    font-size: .8em;
    text-align: right;
}
.code, .html {
    font-family: 'Inconsolata', monospace;
    font-size: 1.2em;
}
